body {
  background-color: rgba(161, 106, 42, 0.795);
}

#shapeContainer {
  display: inline-block;
  position: relative;
  overflow: hidden;
  height: 600px;
  width: 600px;
  background-color: aquamarine;
  margin-left: 20px;
  border: rgba(168, 10, 10, 0.5);
  border-style: solid;
}

#buttonContainer {
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: rgba(58, 171, 199, 0.479);
  padding: 20px;
  margin-left: 20px;
  margin-right: 20px;
  border-color: rgb(138, 100, 124);
  border-style: solid;
  border-top-right-radius: 6em;
  border-bottom-right-radius: 6em;
}
input {
  border-bottom-right-radius: 1em;
  border-top-right-radius: 1em;
}
button {
  border-bottom-right-radius: 1em;
  border-top-right-radius: 1em;
  background-color: rgba(137, 43, 226, 0.322);
}

#infoContainer {
  position: absolute;
  width: 300px;
  left: 60em;
  bottom: 25em;
  background-color: aquamarine;
  padding: 20px;
  border: rgba(168, 10, 10, 0.5);
  border-style: solid;
  border-bottom-left-radius: 4em;
  border-bottom-right-radius: 4em;
}
/* .shape {
  opacity: 40%;
  position: absolute;
} */

.circle {
  position: absolute;
  background-color: rgba(204, 117, 200, 0.5);
  border-radius: 100%;
}
.square {
  position: absolute;
  background-color: rgba(236, 106, 106, 0.5);
}
.rectangle {
  position: absolute;
  background-color: rgba(56, 212, 134, 0.5);
}
.triangle {
  position: absolute;
}
