body {
  background-color: rgba(161, 106, 42, 0.795);
}

#shapeContainer {
  display: inline-block;
  position: relative;
  overflow: hidden;
  height: 600px;
  width: 600px;
  background-color: aquamarine;
  margin-left: 20px;
  border: rgba(168, 10, 10, 0.5);
  border-style: solid;
}
#daddycontainer {
}

#buttonContainer {
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: rgba(58, 171, 199, 0.479);
  padding: 20px;
  margin-left: 20px;
  margin-right: 20px;
  border-color: rgb(138, 100, 124);
  border-style: solid;
  border-top-right-radius: 6em;
  border-bottom-right-radius: 6em;
}
input {
  border-bottom-right-radius: 1em;
  border-top-right-radius: 1em;
}
button {
  border-bottom-right-radius: 1em;
  border-top-right-radius: 1em;
  background-color: rgba(137, 43, 226, 0.322);
}

#shapeValuesContainer {
  height: 600px;
  width: 150px;
}

/* .shape {
  opacity: 40%;
  position: absolute;
} */

.circle {
  position: absolute;
  background-color: rgba(224, 163, 32, 0.5);
  border-radius: 100%;
}
.square {
  position: absolute;
  background-color: rgba(21, 110, 151, 0.5);
}
.rectangle {
  position: absolute;
  background-color: rgba(236, 123, 89, 0.5);
}
.triangle {
  position: absolute;
}
